webservisDeneme/webservisDeneme/Web References/localhost/Nufuskayit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TrafikServisTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tckno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrafikServisTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrafikServisTCResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Trafikservis">
        <s:complexType />
      </s:element>
      <s:element name="TrafikservisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrafikservisResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TrafikServisTCSoapIn">
    <wsdl:part name="parameters" element="tns:TrafikServisTC" />
  </wsdl:message>
  <wsdl:message name="TrafikServisTCSoapOut">
    <wsdl:part name="parameters" element="tns:TrafikServisTCResponse" />
  </wsdl:message>
  <wsdl:message name="TrafikservisSoapIn">
    <wsdl:part name="parameters" element="tns:Trafikservis" />
  </wsdl:message>
  <wsdl:message name="TrafikservisSoapOut">
    <wsdl:part name="parameters" element="tns:TrafikservisResponse" />
  </wsdl:message>
  <wsdl:portType name="NufuskayitSoap">
    <wsdl:operation name="TrafikServisTC">
      <wsdl:input message="tns:TrafikServisTCSoapIn" />
      <wsdl:output message="tns:TrafikServisTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Trafikservis">
      <wsdl:input message="tns:TrafikservisSoapIn" />
      <wsdl:output message="tns:TrafikservisSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NufuskayitSoap" type="tns:NufuskayitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TrafikServisTC">
      <soap:operation soapAction="http://tempuri.org/TrafikServisTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trafikservis">
      <soap:operation soapAction="http://tempuri.org/Trafikservis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NufuskayitSoap12" type="tns:NufuskayitSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TrafikServisTC">
      <soap12:operation soapAction="http://tempuri.org/TrafikServisTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Trafikservis">
      <soap12:operation soapAction="http://tempuri.org/Trafikservis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Nufuskayit">
    <wsdl:port name="NufuskayitSoap" binding="tns:NufuskayitSoap">
      <soap:address location="https://localhost:44395/Nufuskayit.asmx" />
    </wsdl:port>
    <wsdl:port name="NufuskayitSoap12" binding="tns:NufuskayitSoap12">
      <soap12:address location="https://localhost:44395/Nufuskayit.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>